<h1>Send us a message!</h1>
<p><strong>We usually appreciate it..</strong></p>

<form action="/email" method="POST">
	<p>
		<label for="name">Name</label><br>
		<input type="text" name="name">
	</p>
	<p>
		<label for="email">Email</label><br>
		<input type="text" name="email">
	</p>
	<p>
		<label for="content">Comment</label><br>
		<textarea type="text" name="comment"></textarea>
	</p>
	<p>
		<input type="submit" value="Thank you">
	</p>
</form>
